body{
    background-color:rgb(231, 196, 235);
}
div{
    background-color: rgb(254, 234, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 70px rgb(91, 67, 89);

}
h1{
    color: rgb(207, 146, 193);
    text-align: center;
    padding: 70px;
    font-size: 70px;
    margin-top: auto;
    
}
h1 span{
    color: rgb(163, 89, 146);
}
input{
    padding: 20px;
    border: none;
    outline: none;
    font-size: 25px;
}

button{
    border: none;
    color: white;
    background-color: rgb(192, 147, 229);
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(184, 162, 204);
    cursor: pointer;
}

a{
    color: rgb(127, 85, 135);
    text-decoration: none;
}
label p{
    color: rgb(171, 125, 214);
    font-size: 25px;
}